
package.json
package-lock.json

#demo file and folder
old/*
content/*
*.html
*.zip

#admin image folder
img/*
uploads/*


#heroku folder
database.php
cmt.php
admin/*
file/* 
includes/mail.php
includes/database-api.php
includes/array.php
