RewriteEngine on


RewriteRule ^([a-zA-Z0-9]+)$ cat.php?id=$1
RewriteRule ^([a-zA-Z0-9]+)/page=([0-9]+)$ cat.php?id=$1&&page=$2


RewriteRule ^([a-z]+)/([a-zA-Z0-9-\s]+)$ $1s.php?id=$2
RewriteRule ^([a-z]+)/([a-zA-Z0-9-\s]+)/page=([0-9]+)$ $1s.php?id=$2&&page=$3

